/* tables */
table{margin:.5em 0 1em; width:100%}
table td,table th{text-align:left;border-right:1px solid #fff;padding:.4em .8em;}
table th{background-color:#0066FF;color:#fff;text-transform:uppercase;font-weight:bold;border-bottom:1px solid #e8e1c8;}
/*table td{background-color:#eee;}*/
table th a{color:#d6f325;}
/*table th a:hover{color:#fff;}*/
table tr.even td{background-color:#ddd;}
/*table tr:hover td{background-color:#fff;}*/

table.nostyle td,table.nostyle th,table.nostyle tr.even td,table.nostyle tr:hover td{border:0;background:none;background-color:transparent;}

.sectiontableheader {background-color:#0066FF;color:#fff;text-transform:uppercase;font-weight:bold;border-bottom:1px solid #e8e1c8;}
.sectiontableheader a {color:#d6f325;}
.sectiontableheader a:hover{color:#fff;}

.sectiontableentry1 {background-color:#eee;}
.sectiontableentry1 tr:hover td{background-color:#fff;}

.sectiontableentry2 {background-color:#ddd;}
.sectiontableentry2 tr:hover td{background-color:#fff;}

.contentheading {background-color:#FFFFFF;color:#fff;text-transform:uppercase;font-weight:bold;border-bottom:1px solid #e8e1c8;}

.td_l {
	text-align: left;
	width: 50%;
}

.td_c {
	text-align: center;
}

.td_r {
	text-align: right;
}